pipeline/copyFiles_to_DB.json
{
	"name": "copyFiles_to_DB",
	"properties": {
		"activities": [
			{
				"name": "GetMetadatafromDB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.Metadata",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azuresqlTarget",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "metadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "loopFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadatafromDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadatafromDB').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_ADLS",
											"type": "LinkedServiceReference"
										},
										"path": "tgt"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_source",
									"type": "DatasetReference",
									"parameters": {
										"SourceFile": {
											"value": "@replace(item().SourceFileName,'/src/','')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azuresqlTarget",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().targettableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Check Copy rows Matches",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Copy data1').output.rowsRead,activity('Copy data1').output.rowsCopied)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Lookup2",
										"type": "Lookup",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('insert into dbo.batchlog(env ,pipelineName,LogMessage,status,TriggerType,loadId,LogTimestamp) Select','dev',pipeline().Pipeline,activity('Copy data1').output.errors,activity('Copy data1').output.executionDetails.status,pipeline().TriggerName,pipeline().RunId,string(utcnow()))",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_azuresqlTarget",
												"type": "DatasetReference",
												"parameters": {
													"tableName": "metadata"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Lookup1",
										"type": "Lookup",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('insert into dbo.batchlog(env ,pipelineName,LogMessage,status,TriggerType,loadId,LogTimestamp) Select','dev',pipeline().Pipeline,'Success',activity('Copy data1').output.executionDetails.status,pipeline().TriggerName,pipeline().RunId,string(utcnow()))",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_azuresqlTarget",
												"type": "DatasetReference",
												"parameters": {
													"tableName": "metadata"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}