pipeline/esr_child.json
{
	"name": "esr_child",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@pipeline().parameters.NextSourceBinaryValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SQL Insert Binary Value",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[usp_SourceBinaryValueInsert]",
					"storedProcedureParameters": {
						"NextSourceBinaryValue": {
							"value": {
								"value": "@variables('test')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"SourceSchema": {
							"value": {
								"value": "@variables('SourceSchema')",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceTable": {
							"value": {
								"value": "@variables('SourceTable')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetSchema": {
							"value": {
								"value": "@variables('TargetSchema')",
								"type": "Expression"
							},
							"type": "String"
						},
						"TargetTable": {
							"value": {
								"value": "@variables('TargetTable')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_dwh_onprem",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SQL Get Binary Values",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SQL Insert Binary Value",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@\"SELECT \n LastSourceBinaryValue,\n NextSourceBinaryValue\nFROM\nETL.AdminTrackAuditColumn \nWHERE DeleteFlag = 0\nAND\n    SourceSchema =\" + variables('SourceSchema')+\n\"AND\n    SourceTable=\"+variables('SourceTable')+\n\"AND\n   TargetSchema=\"+variables('TargetSchema') +\n\"AND\n  TargetTable=\"+variables('TargetTable') +\";\"",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsServerReport_onprem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SQL Truncate Table DimExternalSystemStage",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "SQL Get Binary Values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_dwh_onprem",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Truncate Table CoreETL.DimExternalSystemStage"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"NextSourceBinaryValue": {
				"type": "int"
			}
		},
		"variables": {
			"test": {
				"type": "Integer"
			},
			"SourceSchema": {
				"type": "String",
				"defaultValue": "Core"
			},
			"SourceTable": {
				"type": "String",
				"defaultValue": "ExternalSystem"
			},
			"TargetSchema": {
				"type": "String",
				"defaultValue": "Core"
			},
			"TargetTable": {
				"type": "String",
				"defaultValue": "DimExternalSystem"
			}
		},
		"annotations": []
	}
}