pipeline/esr_master.json
{
	"name": "esr_master",
	"properties": {
		"description": "master that call's sub packages\n",
		"activities": [
			{
				"name": "lkup__sql_get_binary_values",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT cast(MIN_ACTIVE_ROWVERSION() as bigint) - 1 as NextSourceBinaryValue\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsoltp_onprem",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "setting NextSourceBinaryValue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkup__sql_get_binary_values",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NextSourceBinaryValue",
					"value": {
						"value": "@activity('lkup__sql_get_binary_values').output.firstRow.NextSourceBinaryValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "execute esr child",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "setting NextSourceBinaryValue",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "esr_child",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"NextSourceBinaryValue": {
							"value": "@variables('NextSourceBinaryValue')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"NextSourceBinaryValue": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}